<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.retrieval.master.mapper.NodeMapper">
	<insert id="InsertNode" parameterType="Node">
		INSERT INTO `T_NODE` 
		(`ID`, `CNAME`, `ENAME`, `URI`, `PARENT_ID`, `OF_PARENT_INDEX`, `REMARK`, `CREATOR_ID`, `MODIFIER_ID`)
		VALUES
		(#{id}, #{cname}, #{ename}, #{uri}, #{parentId}, #{ofParentIndex}, #{remark}, #{creatorId}, #{modifierId})
	</insert>
	
	<select id="selectNodeByCName" 
			resultMap="com.zj.retrieval.master.config.resultmap.nodeResultMap" 
			parameterType="hashmap">
		SELECT * FROM T_NODE WHERE CNAME = '${cname}'
	</select>
	
	<select id="selectNodeByEName" 
			resultMap="com.zj.retrieval.master.config.resultmap.nodeResultMap" 
			parameterType="hashmap">
		SELECT * FROM T_NODE WHERE ENAME = '${ename}'
	</select>
	
	<update id="updateENameByEName" parameterType="hashmap">
		UPDATE T_NODE SET ENAME = '${newEName}' WHERE ENAME = '${ename}'
	</update>
	
	<update id="clearCName">
		UPDATE T_NODE SET CNAME = 'xxxx'
	</update>

</mapper>
